<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knowstorage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconoleanlearning"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/iconoleanlearning"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Reproductor"></activity>
        <activity android:name=".ContenedorAudiosSinEvaluar" />
        <activity android:name=".GrabadoraKnowStorage" />
        <activity android:name=".Storage" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Success"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alumno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NombrePasswordTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Temas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MisTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Audios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SesionTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualizadorAudio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LTTA"
            android:screenOrientation="portrait" />
    </application>

</manifest>